# Alchitry CU

# Clock
set_io CLK P7

# Onboard LEDs
set_io LED1 J11
set_io LED2 K11
set_io LED3 K12
set_io LED4 K14
set_io LED5 L12
set_io LED6 L14
set_io LED7 M12
set_io LED8 N14

# Reset
set_io RESETBTN P8